@import url("./base/variables.css");
@import url("./components/header.css");
@import url("./components/hero.css");
@import url("./components/home.css");
@import url("./components/articles.css");
@import url("./responsive.css");


/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background: var(--background);
  color: var(--text);
  line-height: 1.6;
}

/* Container */
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* List */
ul {
  list-style: none;
}

/* Images */
img {
  max-width: 100%;
  display: block;
}
