/* ==========================
   Page Hero
========================== */

.page-hero{
    padding:40px 0;
    background:#f8fafc;
    text-align:center;
}

.page-hero h1{
    font-size:52px;
    margin-bottom:15px;
}

.page-hero p{
    max-width:650px;
    margin:auto;
    color:#64748b;
}

/* ==========================
   Articles
========================== */

.articles-page{
    padding:80px 0;
}

.articles-top{
    margin-bottom:50px;
}

.article-search{
    display:flex;
    align-items: center;
    max-width: 700px;
    margin: 0 auto 35px;
    background: #ffff;
    border: 1px solid #e2e8f0;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .08);
}

.article-search input{
    flex:1;
    border:none;
    outline: none;
    padding:18px 20px;
    font-size: 16px;
    background: transparent;
}

.article-search button{
    color: #fff;
    padding:18px 30px;
    border:none;
    background:#2563eb;
    font-size: 16px;
    font-weight: 600;
    cursor:pointer;
    transition: background-color .3s ease;
}

.article-search button:hover{
    background:#1d4ed8;
}

.article-filter{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

.article-filter button{
    padding:10px 18px;
    border:none;
    border-radius:30px;
    background:#e2e8f0;
    cursor:pointer;
}

.article-filter .active{
    background:#2563eb;
    color:#fff;
}

.articles-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

/* Reusing article-card styles from home.css */

.pagination{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-top:60px;
}

.pagination a{
    padding:10px 18px;
    border-radius:8px;
    background:#f1f5f9;
}

.pagination .active{
    background:#2563eb;
    color:#fff;
}